<header class="site-header">

        <div class="nav-wrapper">
      
          <nav class="post-nav">
      
            <div class="trigger">
              <a id="sicko" class="backSicko" href="{{ site.baseurl }}/">*sickomode*</a>
              <!-- {{ site.title }} instead of blog -->
              <a style="float:right;" href="{{ site.baseurl }}/email"><i class="fas fa-envelope"></i></a>
              <a style="float:right; margin-right: 10px;" href="{{ site.baseurl }}/app"><i class="fab fa-app-store"></i></a>
              <a style="float:right; margin-right: 10px;" href="{{ site.baseurl }}/"><i class="fas fa-home"></i></a>
                    
            </div>
          </nav>
      
        </div>
      
      </header>
      